[mgr]
show_hidden = false
sort_by = "natural"
linemode = "size"

[preview]
max_width = 2000
max_height = 3000

[opener]
edit = [
  { run = 'nvim "$@"', block = true },
  { run = 'bat "$@"', block = true },
  { run = 'code "$@"', block = true },
]
photoshop = [
  { run = 'open -a "Adobe Photoshop 2026" "$@"', desc = "Adobe Photoshop" },
]
unar = [
  { run = 'for rar in "$@"; do unar "$rar"; done', desc = "Extract with unar" },
]
stolendata-mpv = [
  { run = 'open -a mpv "$@"', desc = "stolendata-mpv"},
]

[open]
prepend_rules = [
  # archive
  { name = "*.{zip,7z}", use = [ "extract", "stolendata-mpv", "reveal" ] },
  { name = "*.rar",     use = [ "unar", "stolendata-mpv", "reveal" ] },
  # image (photoshop)
  { name = "*.{jpg,jpeg,png,bmp,tif,tiff,gif,psd,webp,arw}", use = [ "stolendata-mpv", "photoshop", "reveal" ] },
  # video
  { name = "*.{3gp,avi,mkv,mp4,webm,ts,m2ts,mp3,flac,opus,m4a,wav,ogg,jpg,jpeg,png,webp,avif}", use = "stolendata-mpv" },
]

[tasks]
image_bound = [0, 0]
